@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Pacifico&family=Ranchers&family=Pixelify+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgb(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --switch-bg-url: url(./assets/MoonStars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgb(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./assets/Sun.svg);
}

body {
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: auto;
  padding: 0 24px;
}

#profile {
  text-align: center;
  margin: 24px;
  font-family: "Pacifico", cursive;
}

#profile img {
  width: 112px;
  padding: 24px 24px 0px 24px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  padding: 8px;
}
#profile a {
  text-decoration: none;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  transition: background 0.2s;
  font-family: "Nosifer", sans-serif;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 24px 0;
  font-size: 24px;
}

ion-icon {
  padding: 10px;
  border-radius: 50%;
  transition: background 0.2s;
}

ion-icon:hover {
  background: var(--surface-color-hover);
}

footer {
  font-family: "Pacifico", cursive;
  padding: 24px 0;
  text-align: center;
}

.experiences-section {
  font-family: "Pixelify Sans", sans-serif;
  padding: 10px;
}
.experiences-section p {
  padding: 10px;
}
.experiences-section h4 {
  margin-top: 10px;
}

@media screen and (max-width: 460px) {
  ul li a {
    font-size: 9px;
    font-family: "Arial", sans-serif;
    margin: auto;
    padding: auto;
  }

  #container {
    width: 100%;
    max-width: 150px;
    height: auto;
  }

  #profile {
    text-align: center;
    margin: auto;
  }

  footer {
    font-size: 12px;
    padding: auto;
    margin: auto;
  }

  .responsibilities {
    display: none;
  }

  #curriculum {
    font-size: 12px;
    width: auto;
    min-width: 150px;
  }
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
